* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
    font-family: "Montserrat";
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: brown;
  }
  h1 {
    font-size: 24px;
  }
  form {
    background-color: white;
  }

